$color-theme = #FF8198
$color-cart = #FF4500
$color-font = #838383
$color-gray = #f1f1f1
$color-white = #fff
$color-green = #5EA732
$color-orange = #D7BA7D

// 字体大小

$font-size-small = 10px
$font-size-middle = 12px
$font-size-large = 14px